<?xml version="1.0" encoding="UTF-8"?>
<launch>

<!-- <arg name="model" default="$(find PF1)/xacro/mighty.xacro"/> -->
<arg name="model" default="$(find mighty_rover)/xacro/pf1.xacro"/>
<arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz"/>


<arg name="robot_name" default="PF1"/>
  <arg name="enable_odom_tf" default="false"/>
  <arg name="init_pose" default=""/>

<!--<group ns="$(arg model)">-->


<!-- Launch gazebo -->
<include file="$(find mighty_rover)/launch/gazebo_pf1.launch">
  <arg name="model" value="$(arg model)"/>
 </include>

<!-- rviz -->
<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/>


<!-- Load ros_controllers configuration parameters -->
        <rosparam file="$(find mighty_rover)/config/ctrl_ackermann_steering_controller.yaml" command="load"  />
        <rosparam file="$(find mighty_rover)/config/ctrl_gains.yaml" command="load"  />
        <rosparam file="$(find mighty_rover)/config/ctrl_joint_state_publisher.yaml" command="load"  />
        <rosparam file="$(find mighty_rover)/config/ctrl_steer_bot_hardware_gazebo.yaml" command="load"  />

        <!-- Spawn the controllers -->
        <node pkg="controller_manager" type="spawner" name="controller_spawner" 
            args="joint_state_publisher ackermann_steering_controller"
            output="screen" respawn="false" />

<!-- steering -->
<node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
  <param name="default_topic" value="ackermann_steering_controller/cmd_vel"/> 
</node>
    <!-- robot localization -->

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true" output="screen">
      <rosparam command="load" file="$(find mighty_rover)/config/ekf_localization/mode1.yaml" />
      <!--<param name="tf_prefix" value="mighty1"/>-->
      <remap from="/odometry/filtered" to="odom" />
      <remap from="odom0" to="ackermann_steering_controller/odom" />
      <remap from="imu0"  to="imu/data" />
    </node> 




    <!-- gmapping -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" clear_params="true">
      <rosparam command="load" file="$(find mighty_rover)/config/gmapping.yaml" />
      <param name="base_frame_id" value="base_link" />
      <param name="odom_frame_id" value="odom" />
      <param name="global_frame_id" value="map" />
      <remap from="scan" to="scan" />
    </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>
    
    <!-- move_base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
      <rosparam file="$(find mighty_rover)/config/move_base/costmap_v2.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find mighty_rover)/config/move_base/costmap_v2.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find mighty_rover)/config/move_base/local_costmap_params_v2.yaml" command="load" />
      <rosparam file="$(find mighty_rover)/config/move_base/global_costmap_params_v2.yaml" command="load" />
      <rosparam file="$(find mighty_rover)/config/move_base/move_base_params_v2.yaml" command="load" />
      <rosparam file="$(find mighty_rover)/config/move_base/teb_local_planner.yaml" command="load" />
      <param name="global_costmap/global_frame" value="map" />
      <param name="global_costmap/robot_base_frame" value="base_link" />
      <param name="local_costmap/laser_scan_sensor/sensor_frame" value="hokuyo_sensor" />
      <param name="local_costmap/laser_scan_sensor/topic" value="scan" />
      <param name="local_costmap/global_frame" value="odom" />
      <param name="local_costmap/robot_base_frame" value="base_link" />
      <remap from="cmd_vel" to="ackermann_steering_controller/cmd_vel" />
      <remap from="odom" to="ackermann_steering_controller/odom" />
    </node>

</launch>

 


