<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node name="MPC_tracking" pkg="mpc_ros" type="tracking_reference_trajectory" output="screen"  >
        <rosparam file="$(find mpc_ros)/params/mpc_local_square_params.yaml" command="load" />
        <remap from="/cmd_vel" to="diff_drive_controller/cmd_vel"/>
        <!--rosparam file="$(find mpc_ros)/params/mpc_local_params.yaml" command="load" /-->
        <!--rosparam file="$(find mpc_ros)//params/mpc_local_epitrochoid_params.yaml" command="load" /-->
    </node>
</launch>